<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <div>
            <h1>Apply for Home Loan</h1>
        </div>
        <form th:action="@{/process_register}" th:object="${user}"
            method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            
              <div class="form-group row">
                <label class="col-4 col-form-label">User Name:</label>
                <div class="col-8">
                    <input type="text" th:field="*{username}" class="form-control"
                            required minlength="2"/>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                            required minlength="3" maxlength="10"/>
                </div>
            </div>
             
           
             
            <div class="form-group row">
                <label class="col-4 col-form-label">Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{name}" class="form-control"
                            required minlength="2" maxlength="20" />
                </div>
            </div>
            
             <div class="form-group row">
                <label class="col-4 col-form-label">Address: </label>
                <div class="col-8">
                    <input type="text" th:field="*{address}" class="form-control"
                            required minlength="2" maxlength="20" />
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-4 col-form-label">Loan Amount: </label>
                <div class="col-8">
                    <input type="number" step="1" th:field="*{loan_amount}" class="form-control"
                            required minlength="2" maxlength="20" />
                </div>
            </div>
            
             <div class="form-group row">
                <label class="col-4 col-form-label">Monthly Salary: </label>
                <div class="col-8">
                    <input type="number" step="1" th:field="*{monthly_salary}" class="form-control"
                            required minlength="2" maxlength="20" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Tenure: </label>
                <div class="col-8">
                    <input type="number" step="1" th:field="*{tenure}" class="form-control"
                            required minlength="1" maxlength="20" />
                </div>
            </div>
            <div>
            <input type = "hidden" th:field="*{application_status}" value="Pending"/>
             <input type = "hidden" th:field="*{payment_status}" value="No Loan"/>
            </div>
             
             
            <div>
                <button type="submit" class="btn btn-primary">Apply Now</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html>